[mysql]
default-character-set=utf8

[mysqld]
server_id=101
port=3306
character-set-server=utf8
default-storage-engine=MyIsam
max_connections=1000
collation-server=utf8_unicode_ci
init_connect='SET NAMES utf8'
innodb_buffer_pool_size=64M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=120
innodb_log_buffer_size=4M
innodb_log_file_size=256M
interactive_timeout=240
join_buffer_size=8M
key_buffer_size=64M
log_error_verbosity=1
max_allowed_packet=64M
max_heap_table_size=256M
myisam_max_sort_file_size=64G
myisam_sort_buffer_size=32M
read_buffer_size=2048kb
read_rnd_buffer_size=8M
skip-external-locking=on
sort_buffer_size=1024kb
table_open_cache=512
thread_cache_size=32
tmp_table_size=128M
wait_timeout=240
sql-mode="NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER,ERROR_FOR_DIVISION_BY_ZERO"
long_query_time=3
slow_query_log=on
[client]
port=3306
default-character-set=utf8
